<nav id="navbar-flat"><!-- BARRA DE NAVEGAÇÃO -->
	<div id="navbar-flat-content">
		<a href="index.php" id="navbar-flat-logo" class="animate fadeInDown">FOOD 4FIT</a>
		<div id="navbar-flat-search" class="animate fadeInDown">
		    <form action="todos-os-pratos.php" name="frmsearch" method="GET" id="form-search">
			    <input type="text" name="search" placeholder="Pesquise" required>
		        <div id="navbar-flat-search-button" data-f4f-trigger-search>
			        <img src="assets/images/icons/search.svg" alt="Pesquise">
			    </div>
			    <input type="submit" class="display-none">
			</form>
		</div>

		<div id="navbar-flat-menu" class="animate fadeInDown">
			<img src="assets/images/icons/menu.svg" alt="Menu">
		</div>
		<div id="navbar-flat-buycart" class="animate fadeInDown">
			<a href="carrinho.php">
			    <img src="assets/images/icons/buycart.svg" alt="Carrinho de Compras">
			</a>
		</div>
		<div id="buycart-bubble" class="animate fadeInDown">
			<span>2</span>
		</div>
		<div id="navbar-flat-login" class="animate fadeInDown">
			<img src="assets/images/icons/user.svg" alt="Login">
		</div>
		<div id="user-bubble" class="animate fadeInDown">
			<span>12</span>
		</div>
	</div>
</nav>
<aside id="sidebar-left"><!-- MENU LATERAL ESQUERDO -->
	<h2>FOOD 4FIT</h2>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-left-list padding-left-30px">
		<li><a href="index.php">Página Inicial</a></li>
		<li><a href="todos-os-pratos.php">Pratos</a></li>
		<li><a href="promocoes.php">Promoções</a></li>
		<li><a href="fit-session.php">Fit Session</a></li>
		<li><a href="publicacoes-gerais.php">Publicações Gerais</a></li>
		<li><a href="homenagem-parceiros.php">Homenagem a Parceiros</a></li>
		<li><a href="sobre.php">Sobre Nós</a></li>
		<li><a href="contato.php">Fale Conosco</a></li>
		<li><a href="nossas-lojas.php">Nossas Lojas</a></li>
	</ul>
	<div id="sidebar-left-close">
		<img src="assets/images/simbols/close.svg" alt="Fechar Menu">
	</div>
</aside>
<aside id="sidebar-right"><!-- MENU LATERAL DIREITO -->
	<h2>FOOD 4FIT</h2>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-right-list padding-right-30px">
		<li><a href="meu-perfil.php">Meu Perfil</a></li>
		<li><a href="meus-pedidos.php">Pedidos</a></li>
		<li><a href="minhas-dietas.php">Minhas Dietas</a></li>
		<li><a href="meus-favoritos.php">Favoritos</a></li>
		<li><a href="diario-de-bordo.php">Diário de Bordo</a></li>
		<li><a href="notificacoes.php"><span>12</span>Notificações</a></li>
	</ul>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-right-list padding-right-30px">
		<li><a href="meus-pratos.php">Meus Pratos</a></li>
		<li><a href="pratos-reservados.php">Pratos Reservados</a></li>
		<li><a href="app.php">Aplicativo</a></li>
	</ul>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-right-list padding-right-30px">
		<li><a href="configuracoes.php">Configurações</a></li>
		<li><a href="termos-uso.php">Termos de Uso</a></li>
		<li><a href="politicas-privacidade.php">Políticas de Privacidade</a></li>
		<li><a href="">Logout</a></li>
	</ul>
	<div class="sidebar-separator"></div>
	<div id="sidebar-right-close">
		<img src="assets/images/simbols/close.svg" alt="Fechar Menu">
	</div>
</aside>
