<div class="generic-modal" data-modal>
    <article class="generic-modal-wrapper">
        <h2 class="margin-top-60px" data-modal-title></h2>
        <p data-modal-text></p>
        <div class="generic-modal-row margin-top-30px margin-bottom-60px">
            <div class="btn-generic-modal cancel box-shadow margin-left-auto margin-right-15px">
                <span data-modal-close>Recusar</span>
            </div>
            <div class="btn-generic-modal confirm box-shadow margin-right-auto">
                <span data-modal-accept>Aceitar</span>
            </div>
        </div>
        <figure class="close-modal" data-modal-close>
            <img src="../assets/images/icons/delete.svg" alt="Fechar Modal">
        </figure>
    </article>
</div>
