$olivine: #9CC283;
$sunsetorange: #E85858;
$white: #FFFFFF;
$black: #000000;
$darkgrey: #282828;
$darkgreymedium: #303030;
$grey: #7F7F7F;
$lightgrey: #FCFCFC;
$gold: #EDBF85;
$mediumgrey: #E8E8E8;
$facebook: #3b5998;
$google: #dc4a3d;
