<div data-f4f-cart-step="1" style="width: 100%;">
    <div class="shopping-cart-block" data-f4f-selection>
        <div class="shopping-cart-title-menu">
            <div class="shopping-cart-menu-column align-x">
                <span class="padding-top-15px padding-bottom-15px">IMAGEM</span>
            </div>
            <div class="shopping-cart-menu-column align-x">
                <span class="padding-top-15px padding-bottom-15px">INFORMAÇÕES</span>
            </div>
            <div class="shopping-cart-menu-column align-x">
                <span class="padding-top-15px padding-bottom-15px">PREÇO UNIT.</span>
            </div>
            <div class="shopping-cart-menu-column align-x">
                <span class="padding-top-15px padding-bottom-15px">QUANTIDADE</span>
            </div>
            <div class="shopping-cart-menu-column align-x">
                <span class="padding-top-15px padding-bottom-15px">SUBT0TAL</span>
            </div>
        </div>
        <section class="shopping-cart-grid">
            <div class="shopping-cart-row">
                <div class="shopping-cart-column">
                    <figure class="shopping-cart-image-container">
                        <img src="assets/images/dishs/img1.jpg" alt="Nome do Prato">
                    </figure>
                </div>
                <div class="shopping-cart-column align-flex-start">
                    <div class="switch_box margin-bottom-15px">
                        <input type="checkbox" name="chkdish" class="switch-styled" data-f4f-select-one>
                    </div>
                    <h2 class="padding-bottom-5px">Nome do Prato</h2>
                    <h3 class="padding-bottom-15px">Categoria: Nome da Categoria</h3>
                </div>
                <div class="shopping-cart-column align-x">
                    <span id="shopping-cart-price">R$ 000,00</span>
                </div>
                <div class="shopping-cart-column align-x">
                    <div class="input-group input-number-group" data-f4f-number-group>
                        <div class="input-group-button">
                            <span class="input-number-decrement" data-f4f-number-decrement>-</span>
                        </div>
                        <input class="input-number" type="number" value="1" min="1" max="1000">
                        <div class="input-group-button">
                            <span class="input-number-increment" data-f4f-number-increment>+</span>
                        </div>
                    </div>
                </div>
                <div class="shopping-cart-column align-x">
                    <span id="shopping-cart-price-total">R$ 000,00</span>
                </div>
            </div>
        </section>
        <div id="shopping-cart-select-block">
            <div class="switch_box margin-left-30px">
                <input type="checkbox" name="chkall" id="chkall" class="switch-styled" data-f4f-select-all>
            </div>
            <label for="chkall" class="padding-left-15px">Selecionar Todos</label>
            <div class="btn-generic-disabled margin-left-30px" data-f4f-any-selected><span>Excluir</span></div>
        </div>
        <section id="shopping-cart-confirm-block" class="padding-bottom-30px">
            <div id="shopping-cart-confirm-column-one">
                <h2 class="padding-left-30px padding-top-30px padding-bottom-15px">Cupom de Desconto</h2>
                <p class="padding-bottom-15px padding-left-30px">Digite o seu cupom de desconto para receber um desconto<br>no seu valor total do pedido. Múltiplos cupons não serão aplicados.</p>
                <div style="display: flex;">
                    <input class="margin-left-30px" type="text" style="width: 350px; border: none; outline: none; height: 40px; background-color: #E8E8E8; border-radius: 5px; text-indent: 12px; font-family: 'Roboto Medium Italic';" placeholder="Digite o cupom...">
                    <div class="btn-generic margin-left-15px">
                        <span>Processar</span>
                    </div>
                </div>
            </div>
            <div id="shopping-cart-confirm-column-two">
                <h2 class="padding-right-30px padding-top-30px padding-bottom-30px" style="font-family: 'Roboto light'; font-size: 21px; color: #282828;">Total a Pagar: <span style="font-family: 'Roboto Bold'; font-size: 28px; color: #000;">R$ 000,00</span></h2>
                <div class="btn-generic margin-right-30px" data-f4f-cart-change-step="2">
                    <span>Comprar</span>
                </div>
            </div>
        </section>
    </div>
</div>
