<div data-f4f-form-step="1">
    <span style="display: block; font-size: 18px; font-family: 'Roboto Bold'; color: #000;" class="margin-top-30px margin-bottom-15px">Eu sou...</span>
    <div id="pessoa" style="display: flex;">
        <input type="radio" name="pessoa" id="fisica" value="F" required checked data-f4f-watch>
        <label for="fisica" class="label-generic">Pessoa Física</label>
        <input type="radio" name="pessoa" id="juridica" value="J" required class="margin-left-15px" data-f4f-watch>
        <label for="juridica" class="label-generic">Pessoa Jurídica</label>
    </div>

    <div data-f4f-if="$this.pessoa == 'F'">
        <label for="nome" class="label-generic margin-top-30px">Nome:</label>
        <input type="text" name="nome" id="nome" class="input-generic" placeholder="Ex: João" required>
    </div>

    <div data-f4f-if="$this.pessoa == 'F'">
        <label for="sobrenome" class="label-generic margin-top-30px">Sobrenome:</label>
        <input type="text" name="sobrenome" id="sobrenome" class="input-generic" placeholder="Ex: Guedez da Silva" required>
    </div>

    <div data-f4f-if="$this.pessoa == 'J'">
        <label for="razaoSocial" class="label-generic margin-top-30px">Razão Social:</label>
        <input type="text" name="razaoSocial" id="razaoSocial" class="input-generic" required>
    </div>

    <div data-f4f-if="$this.pessoa == 'J'">
        <label for="nomeFantasia" class="label-generic margin-top-30px">Nome Fantasia:</label>
        <input type="text" name="nomeFantasia" id="nomeFantasia" class="input-generic" required>
    </div>

    <label for="email" class="label-generic margin-top-30px">E-Mail:</label>
    <input type="email" name="email" id="email" class="input-generic" placeholder="Ex: endereco@provedor.com" required>

    <div data-f4f-if="$this.pessoa == 'F'">
        <label for="rg" class="label-generic margin-top-30px">RG:</label>
        <input type="text" name="rg" id="rg" class="input-generic" placeholder="Ex: 12.345.678-9" required data-mask="00.000.000-0" pattern="\d{2}.\d{3}.\d{3}-\d">
    </div>

    <div data-f4f-if="$this.pessoa == 'F'">
        <label for="cpf" class="label-generic margin-top-30px">CPF:</label>
        <input type="text" name="cpf" id="cpf" class="input-generic" placeholder="Ex: 111.222.333-44" required data-mask="000.000.000-00" pattern="\d{3}.\d{3}.\d{3}-\d{2}">
    </div>

    <div data-f4f-if="$this.pessoa == 'J'">
        <label for="inscricaoEstadual" class="label-generic margin-top-30px">Inscrição Estadual:</label>
        <input type="text" name="inscricaoEstadual" id="inscricaoEstadual" class="input-generic" placeholder="Ex: 980.572.254.579" required data-mask="000.000.000.000" pattern="\d{3}.\d{3}.\d{3}.\d{3}">
    </div>

    <div data-f4f-if="$this.pessoa == 'J'">
        <label for="cnpj" class="label-generic margin-top-30px">CNPJ:</label>
        <input type="text" name="cnpj" id="cnpj" class="input-generic" placeholder="Ex: 55.233.069/0001-57" required data-mask="00.000.000/0000-00" pattern="\d{2}.\d{3}.\d{3}/\d{4}-\d{2}">
    </div>

    <div class="margin-top-30px margin-bottom-30px form-row">
        <span class="margin-right-15px" onclick="javascript:location.href='index.php'">Cancelar</span>
        <div class="btn-generic" data-f4f-form-change-step="2" data-f4f-form-step-validate>
            <span>Próximo</span>
        </div>
    </div>
</div>
