<div data-f4f-form-step="2">
    <label for="dtnasc" class="label-generic margin-top-30px" data-f4f-if="$this.pessoa == 'F'">Data de Nascimento:</label>
    <label for="dtnasc" class="label-generic margin-top-30px" data-f4f-if="$this.pessoa == 'J'">Data de Abertura:</label>
    <input type="text" name="dtnasc" id="dtnasc" class="input-generic" placeholder="Ex: 01/01/1990" required data-mask="00/00/0000">

    <div data-f4f-if="$this.pessoa == 'F'">
        <span style="display: block; font-size: 18px; font-family: 'Roboto Bold'; color: #000;" class="margin-top-30px margin-bottom-15px">Gênero:</span>
        <div id="sexo" style="display: flex;">
            <input type="radio" name="sexo" id="homem" value="H" required>
            <label for="homem" class="label-generic">Homem</label>
            <input type="radio" name="sexo" id="mulher" value="M" required class="margin-left-15px">
            <label for="mulher" class="label-generic">Mulher</label>
        </div>
    </div>

    <label for="telefone" class="label-generic margin-top-30px">Telefone:</label>
    <input type="tel" name="telefone" id="telefone" class="input-generic" placeholder="Ex: (11) 9999-9999" required data-mask="(00) 0000-0000" pattern="\(\d{2}\)\s\d{4}-\d{4}">

    <label for="celular" class="label-generic margin-top-30px">Celular:</label>
    <input type="text" name="celular" id="celular" class="input-generic" placeholder="Ex: (11) 98888-8888" required data-mask="(00) 00000-0000" pattern="\(\d{2}\)\s\d{5}-\d{4}">

    <span class="aviso-contato">Caso necessário o contato através de e-mail ou<br>
        telefone/celular, usaremos o seu nome escolhido como vulgo.
    </span>

    <div class="margin-top-30px margin-bottom-30px form-row">
        <span class="margin-right-15px" data-f4f-form-change-step="1">Voltar</span>
        <div class="btn-generic" data-f4f-form-change-step="3" data-f4f-form-step-validate>
            <span>Próximo</span>
        </div>
    </div>
</div>
